.commentSection {
  width: 100%;
  padding: 2rem 0;
  background-color: rgba(19, 19, 19, 0.8);
}

.commentContainer {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.commentItem {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #333; /* Darker shade for contrast */
  color: #fff; /* Light text for readability */
  border-radius: 8px; /* Rounded corners for each comment */
}

.commentAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.commentAuthor img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%; /* Circle avatar */
  margin-right: 1rem;
}

.commentAuthorName {
  font-size: 1.2rem;
  font-weight: bold;
}

.commentContent {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

